fastapi==0.121.0
uvicorn[standard]==0.38.0
pydantic==2.12.4

geopandas==1.1.2
geopy==2.4.1
matplotlib==3.10.8
networkx==3.6.1
numpy==2.4.6
osmnx==2.0.7
pandas==2.3.3
pyogrio==0.12.1
pyproj==3.7.2
requests==2.32.5
shapely==2.1.2
